$primary-color: #8F9D7A;
$secondary-color: #717C60;
$header-font: #FFFFFF;
$primary-text-color: #EDF5E2;
$alternative-primary-text-color: #CFDCBC;
$button-color: #565D4A;
$button-font-color: #FFFFFF;
$secondary-text-color: #2A2D24;